table, th, td {
    border: 1px solid black;
    text-align: center;
}

th, td {
    padding: 10px;
}

hr {
    height: 1px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: black;
    background-color: black;
}